<!doctype html>
<html lang='en'>
  <head>
  <meta charset='utf-8'>
  <title> Rock Paper Scissors </title>
  </head>
  <body>
    <h1> </h1>
    <a href="/"> welcome </a>
    <%= yield %>
  </body>
</html>