<form action="/posts/:id/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="text" name="title">
  <input type="text" name="content">
  <input type="submit" value="delete">
</form>