<form action="/pizzas/:id/edit" method="POST">

<input id="hidden" type="hidden" name="_method" value="patch">

<input name="first_name" type="text"/>

<input name="last_name" type="text"></input>

<input name="topping" type="text"></input>

<input name="quantity"></input>

<input type="submit" value="submit">

</form>

